<!DOCTYPE html>

<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <title {% block title%} Rapid Prototypes {% endblock %} </title>
    <link rel='stylesheet' href="{% static 'css/site.css'%}">
  </head>
  <body>
    {%block content%} {% endblock %}
  </body>
</html>
